@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  line-height: 2;
  letter-spacing: 0.2em;
  background-color: rgb(0, 174, 155);
}

.displayPets {
  display: inline-block;

  padding: 0 25px;
}

.FIFOimg {
  position: relative;
  width: 50%;
}

.pet-img {
  width: 300px;
  max-width: 500px;
  height: auto;
}

.welcome {
  text-align: center;
}

.logo {
  font-size: 125%;
  text-align: left;
  margin: 10px 20px;
}

.intro {
  text-align: left;
  margin: 10px 10%;
  padding: 10px;
  z-index: 100;
}

.AdoptButton {
  background-color: white;
  margin: 0 20%;
  padding: 0 5px;
  font-size: 13px;
}
.image {
  display: flex;
  justify-content: center;
}
.people {
  text-align: center;
  margin: 0 13px;
}
.msg {
  background-color: rgb(223, 226, 14);
  width: 500px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
.listOfPeople {
  background-color: white;
  margin: 10px 35%;
  font-size: 14px;
  text-align: left;
  padding: 0 5px;
}

.input {
  text-align: center;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  margin: 0;
  padding: 8px 24px;
  width: 100%;
}

.pets {
  margin: 10px;
  /* width: 100%;*/
  display: inline-block;
  width: 100%;
  height: 100px;
}
