@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

* {
  box-sizing: border-box;

  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

body {
  line-height: 2;
  letter-spacing: 0.2em;
  background-color: rgb(0, 174, 155);
}

.displayPets {
  display: inline-block;
  float: left;
  padding: 0 25px;
}
.image {
  display: flex;
  justify-content: center;
}

.FIFOimg {
  position: relative;
  width: 50%;
  z-index: 1;
}

.pet-img {
  width: 300px;
  height: 300px;
}
.welcome {
  text-align: center;
}

.logo {
  font-size: 125%;
  text-align: left;
  margin: 10px 20px;
}

.intro {
  text-align: left;
  margin: 10px 10%;
  padding: 10px;
  z-index: 100;
}
.AdoptButton {
  background-color: white;
  margin: 0 20%;
  font-size: 13px;
}
.people {
  text-align: left;
  margin: 0 13px;
}

.listOfPeople {
  background-color: white;
  margin: 10px 30%;
  font-size: 12px;
  text-align: left;
}

.listOfPets {
  text-align: center;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.pets-list {
  display: flex;
  margin: 0 10px;
}
.pets {
  vertical-align: top;
  width: 100%;
  font-size: 13px;
  padding: 0;
  align-items: center;
}

.adopt {
  margin: 0 180px;
}
